@using TieuChuanWeb2.Models;
@model IEnumerable<ht_dm_nsd>
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cs {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 700px;
        border-radius: 20px;
        border: 2px solid blue;
        margin: 0px auto;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    table#QuanLyNguoiDung {
        width: 95%;
        margin: auto;
    }
        div#khung {
        margin-top:1%;
    }
</style>
<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'ma_nsd;ten_nsd;matkhau;makhoa;mabomon;ma_nhom;ghichu;id', OnGetRowValues);
    }
    function OnGetRowValues(values) {
        txt_ma_nsd.SetText(values[0]);
        txt_ten_nsd.SetText(values[1]);
        txt_matkhau.SetText(values[2]);
        txt_makhoa.SetValue(values[3]);
        txt_mabomon.SetText(values[4]);
        txt_ma_nhom.SetText(values[5]);
        txt_ghichu.SetText(values[7]);
        //txt_ghichu.SetText(values[6]);
    }
</script>
<script>
    function fncThem() {
        var x = document.getElementsByName("txt_ghichu").toString();
        alert(x);
        @*//form.action = '@Url.Action("QuanLyNguoiDungPartialDelete", "QuanLyNguoiDung",new {id=  })';*@
        // form.submit();
    }

    function fncXoa() {
        form.action = '@Url.Action("Submit2", "Home")';
        form.submit();
    }
</script>
@*@Html.TextBoxFor(m => m.id, new { @class = "form-control" })*@
@*<div class="cs">*@
@*@using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { id = "form" }))
    {*@
@*<h2 style="text-align:center;color:red;"><b>QUẢN LÝ NGƯỜI DÙNG</b></h2>*@
@* //--------------------------------------*@
@*@Html.DevExpress().FormLayout(settings =>
    {
        settings.Name = "formLayout";
        settings.EncodeHtml = false;
        settings.UseDefaultPaddings = false;
        settings.Width = Unit.Percentage(100);

        var groupItem = settings.Items.AddGroupItem(i =>
        {
            i.Width = Unit.Percentage(90);
            i.Caption = "Thông tin người dùng";
            i.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
            i.ColCount = 2;
        });
        groupItem.Items.Add(i =>
        {
            i.FieldName = "txt_ma_nsd";
            i.Caption = "Mã NSD";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
        });
        groupItem.Items.Add(i =>
        {
            i.FieldName = "txt_ten_nsd";
            i.Caption = "Tên NSD";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
        });
        groupItem.Items.Add(i =>
        {
            i.FieldName = "txt_matkhau";
            i.Caption = "Mật khẩu";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            var tbSettings = (TextBoxSettings)i.NestedExtensionSettings;
            tbSettings.Properties.Password = true;
        });
        groupItem.Items.Add(i =>
        {
            i.FieldName = "txt_makhoa";
            i.Caption = "Khoa";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            ComboBoxSettings cb = (ComboBoxSettings)i.NestedExtensionSettings;
            cb.Width = Unit.Percentage(100);
            cb.Properties.DataSource = ViewBag.DMKhoa;
            cb.Properties.TextField = "TenKhoa";
            cb.Properties.ValueField = "MaKhoa";
            cb.Properties.ValueType = typeof(string);
        });
        groupItem.Items.Add(i =>
        {
            i.FieldName = "txt_mabomon";
            i.Caption = "Bộ môn";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            ComboBoxSettings cb = (ComboBoxSettings)i.NestedExtensionSettings;
            cb.Width = Unit.Percentage(100);
            cb.Properties.DataSource = ViewBag.DMBoMon;
            cb.Properties.TextField = "TenBM";
            cb.Properties.ValueField = "MaBM";
            cb.Properties.ValueType = typeof(string);
        });
        groupItem.Items.Add(i =>
        {
            i.FieldName = "txt_ma_nhom";
            i.Caption = "Mã nhóm";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
        });
        groupItem.Items.Add(i =>
        {
            i.FieldName = "txt_ghichu";
            i.Caption = "Ghi chú";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
        });
        //-------------------------------------- Button
        var groupItem1 = settings.Items.AddGroupItem(i =>
        {
            i.Caption = "";
            i.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
            i.ColCount = 6;
        });
        groupItem1.Items.Add(i =>
        {
            i.FieldName = "btnThem";
            i.Caption = "";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.Button; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            var btnSettings = (ButtonSettings)i.NestedExtensionSettings;
            btnSettings.Name = "btnThem";
            btnSettings.Text = "Thêm";
            // btnSettings.Images.Image.Url = Url.Content("~/Content/Images/VTAccounting/help.png");
            btnSettings.ImagePosition = ImagePosition.Left;
            btnSettings.Images.Image.IconID = IconID.ActionsAdd16x16office2013;
            btnSettings.UseSubmitBehavior = false;
            btnSettings.ClientSideEvents.Click = "fncThem";
           // btnSettings.RouteValues = new { Controller = "QuanLyNguoiDung", Action = "QuanLyNguoiDungPartialAddNew" };
        });
        groupItem1.Items.Add(i =>
        {
            i.FieldName = "btnXoa";
            i.Caption = "";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.Button; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            var btnSettings = (ButtonSettings)i.NestedExtensionSettings;
            btnSettings.Name = "btnXoa";
            btnSettings.Text = "Xóa";
            btnSettings.ImagePosition = ImagePosition.Left;
            btnSettings.Images.Image.IconID = IconID.ActionsDelete16x16office2013;
            btnSettings.UseSubmitBehavior = false;
            btnSettings.ClientSideEvents.Click = "fncXoa";
            //btnSettigns.UseSubmitBehavior = true;
            //s.RouteValues = new { Controller = "ContactPage", Action = "Update" };
        });
        groupItem1.Items.Add(i =>
        {
            i.FieldName = "btnSua";
            i.Caption = "";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.Button; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            var btnSettings = (ButtonSettings)i.NestedExtensionSettings;
            btnSettings.Name = "btnSua";
            btnSettings.Text = "Sửa";
            btnSettings.ImagePosition = ImagePosition.Left;
            btnSettings.Images.Image.IconID = IconID.ActionsEdit16x16devav;
            //btnSettigns.UseSubmitBehavior = true;
            //s.RouteValues = new { Controller = "ContactPage", Action = "Update" };
        });
        groupItem1.Items.Add(i =>
        {
            i.FieldName = "btnLuu";
            i.Caption = "";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.Button; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            var btnSettings = (ButtonSettings)i.NestedExtensionSettings;
            btnSettings.Name = "btnLuu";
            btnSettings.Text = "Lưu";
            btnSettings.ImagePosition = ImagePosition.Left;
            btnSettings.Images.Image.IconID = IconID.ActionsSave16x16devav;
            //btnSettigns.UseSubmitBehavior = true;
            //s.RouteValues = new { Controller = "ContactPage", Action = "Update" };
        });
        groupItem1.Items.Add(i =>
        {
            i.FieldName = "btnCapNhat";
            i.Caption = "";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.Button; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            var btnSettings = (ButtonSettings)i.NestedExtensionSettings;
            btnSettings.Name = "btnCapNhat";
            btnSettings.Text = "Cập nhật";
            btnSettings.ImagePosition = ImagePosition.Left;
            btnSettings.Images.Image.IconID = IconID.ActionsReset16x16office2013;
            //btnSettigns.UseSubmitBehavior = true;
            //s.RouteValues = new { Controller = "ContactPage", Action = "Update" };
        });
        groupItem1.Items.Add(i =>
        {
            i.FieldName = "btnHuy";
            i.Caption = "";
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.Button; //required type here
            i.NestedExtensionSettings.Width = Unit.Percentage(100);
            var btnSettings = (ButtonSettings)i.NestedExtensionSettings;
            btnSettings.Name = "btnHuy";
            btnSettings.Text = "Hủy";
            btnSettings.ImagePosition = ImagePosition.Left;
            btnSettings.Images.Image.IconID = IconID.ActionsCancel16x16office2013;
            //btnSettigns.UseSubmitBehavior = true;
            //s.RouteValues = new { Controller = "ContactPage", Action = "Update" };
        });
    }).GetHtml()*@
@*  }*@
@*//--------------------------------------*@
@*</div>*@
<div id="khung">
    @Html.Action("QuanLyNguoiDungPartial")
</div>














