<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/VTAccounting/Vector-Arts.ico" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <link href="~/Content/Css/Styles.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
        @RenderBody()
</body>
</html>