@using TieuChuanWeb2.Models;
@model IEnumerable<dm_tieuchuan>
@{
    ViewBag.Title = "Danh mục tiêu chuẩn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<p name="DetailNotes"></p>*@
<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'id;ma_tieuchuan;ten_tieuchuan', OnGetRowValues);
        //alert("jhjh");
    }
    function OnGetRowValues(values) {
        txtHiddenId.SetText(values[0]);
        //txt_ghichu.SetText(values[6]);
    }
    function fncBtnSuaClick() {
        var x = document.getElementById("txtHiddenId_I").value;
        var url = '@Url.Action("ChinhSua", "DanhMucTieuChuan")' + '?id=' + x;
        window.open(url, "_blank", "toolbar=yes,top=10,left=150,right=150,width=930,height=670");
        //'Url.Action("ChinhSua","DanhMucTieuChuan", { new id= x } )';
        // alert(x);
    }
</script>
<style>
    #txtHiddenId{
        display:none;
    }
</style>
@Html.DevExpress().TextBox(settings =>
{
    settings.Name = "txtHiddenId";
    settings.ReadOnly = true;
   // settings.ClientVisible = false;
}).GetHtml()

@Html.Action("DanhMucTieuChuanPartial")

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btnSua";
    settings.Text = "Sửa";
    settings.ClientSideEvents.Click = "fncBtnSuaClick";
}).GetHtml()







