
@{
    ViewBag.Title = "Thông tin khoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table#ThongTinKhoa {
        width: 50%;
        margin: 0 auto;
    }

    div#khung {
        margin-top:1%;
    }
</style>
<div id="khung">
    @Html.Action("ThongTinKhoaPartial")
</div>


